[Unit]
Description = speedsqueak-camera
After = network-online.target

[Service]
User = squeak
Group = squeak
Type = simple
#WorkingDirectory=/usr/local/src/speedsqueak/camera
ExecStart=/usr/local/bin/speedsqueak-camera.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
